.monoSpaceTextArea {
    font-family: Menlo,Monaco,Consolas,"Courier New", monospace !important;
}

.large {
    font-size: 24px;
}

.selected-row {
    background-color: #98cae1!important;
}

.force-inline {
	display: inline-block!important;
}

.smaller-font {
    font-size: 60%!important;
}