@(title: String, user: UserAccount, songsModified : List[SongSuggestion], songsCreated : List[SongSuggestion])(dynamiccontent: Html)
<!DOCTYPE html>
<html lang="en-us">
	<head>
		<!-- Temporary forbid google from indexing site, while it is still under construction -->
		<meta name="robots" content="noindex, nofollow">
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="author" content="">
		<meta name="description" content="Free worship songs with chords in croatian language">

		<title>PlaySong</title>
		<link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
		<link rel="icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
		<!-- Custom CSS -->
		<link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">

		<!-- Bootstrap Core CSS -->
		<link rel="stylesheet" media="screen" href="@routes.Assets.at("lib/bootstrap/css/bootstrap.min.css")">
		
		<link rel="stylesheet" media="screen" href="@routes.Assets.at("lib/bootstrap-select/dist/css/bootstrap-select.min.css")">
		
		<!-- Custom CSS -->
		<link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/sb-admin-2.css")">

		<!-- Custom Fonts -->
		<link rel="stylesheet" media="screen" href="@routes.Assets.at("lib/font-awesome/css/font-awesome.css")">
		<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
		<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
		<!--[if lt IE 9]>
		<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
		<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
		<![endif]-->

		<!-- Transposer -->
		<!--  <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/jquery-ui.css")">-->
		<link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/jquery.transposer.css")">

		<!-- typeahead  -->
		<link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/typeahead.bootstrap.css")">
		<!-- handsontable -->
		<!--<script src="@routes.Assets.at("lib/handsontable/handsontable.full.min.js")" ></script>
		<link rel="stylesheet" media="screen" href="@routes.Assets.at("lib/handsontable/handsontable.full.min.css")">
		-->

		<script  src="@routes.Application.javascriptRoutes()"></script>
	

	</head>
	<body>
		<div id="wrapper">

			<!-- Navigation -->
			<nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="@routes.Application.index()"> <img class="img-responsive2" src="@routes.Assets.at("images/play-song-logo.png")"> </a>
					<!-- <a class="navbar-brand" href="@routes.Application.index()">PlaySong</a>-->
				</div>
				<!-- /.navbar-header -->

				<ul class="nav navbar-top-links navbar-right">
					<!-- /.dropdown -->
                <li class="dropdown force-inline">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-bell fa-fw"></i>  <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-user pull-dropdown">
                        <li>
                            <a href="#" onclick="return false">
                                <div>
                                    <i class="fa fa-music fa-fw"></i> New Songs
                                    <span class="pull-right text-muted small"> since @java.time.LocalDate.now</span>
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>
	                        @if(songsCreated.size>0){
									  @songsCreated.map { song =>
									  	<li><a id=@song.getId() href="@routes.Application.songview(song.getId())">@song.getSongName() <span class="pull-right text-muted smaller-font"> @song.getDateModified()</span></a></li>
									  	<li class="divider"></li>
									  	}
	                            }
                    </ul>
                    <!-- /.dropdown-alerts -->
                </li>
                		<!-- /.dropdown -->
                <li class="dropdown force-inline">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-pencil fa-fw"></i>  <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-user pull-dropdown">
                        <li>
                            <a href="#"  onclick="return false">
                                <div>
                                    <i class="fa fa-music fa-fw"></i> Updated Songs
                                    <span class="pull-right text-muted small"> since @java.time.LocalDate.now</span>
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>
	                        @if(songsModified.size>0){
									  @songsModified.map { song =>
									  	<li><a id=@song.getId() href="@routes.Application.songview(song.getId())">@song.getSongName() <span class="pull-right text-muted smaller-font"> @song.getDateModified()</span></a></li>
									  	<li class="divider"></li>
									  	}
	                            }
                    </ul>
                    <!-- /.dropdown-alerts -->
                </li>
										<!-- /.dropdown -->
					<li class="dropdown force-inline">
						<a id="dropdown-user-box" class="dropdown-toggle" data-toggle="dropdown" href="#"> @user.name <span> @user.email </span><i class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down"></i> </a>
						<ul class="dropdown-menu dropdown-user">
							<li>
								<a id="user-login" href="@routes.Application.login()"><i class="fa fa-sign-in fa-fw"></i> Login</a>
							</li>
							<li>
								<a id="user-admin" href="@routes.Application.admin()"><i class="fa fa-user fa-fw"></i> Administrator</a>
							</li>
							<li class="divider"></li>
							<li>
								<a id="user-logout" href="@routes.Application.logout()"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
							</li>
						</ul>
						<!-- /.dropdown-user -->
					</li>
					<!-- /.dropdown -->
				</ul>
				<!-- /.navbar-top-links -->

				<div class="navbar-default sidebar" role="navigation">
					<div class="sidebar-nav navbar-collapse">
					  <form role="form" class="sidebar-search"> 
							<div class="form-group has-feedback">
								<input id="scrollable-dropdown-menu" type="text" class="form-control typeahead" name="q" placeholder="Song name, lyrics, author..." />
									<i class="form-control-feedback glyphicon glyphicon-search"></i>
							</div>
						  </form>
							<ul class="nav" id="side-menu">
							<li>
								<a href="@routes.Application.table()"><i class="fa fa-music fa-fw"></i> Songs</a>
							</li>
							<li>
								<a href="@routes.Application.songbook(1)"><i class="fa fa-book fa-fw"></i> Songbook</a>
							</li>
							<li>
								<a href="@routes.Application.services()"><i class="fa fa-list fa-fw"></i> Playlists</a>
							</li>
							<li>
								<a href="#"><i class="fa fa-question-circle fa-fw"></i> Help</a>
							</li>
							<li>
								<a href="#"><i class="fa fa-info fa-fw"></i> About</a>
							</li>
						</ul>
					</div>
					<!-- /.sidebar-collapse -->
				</div>
				<!-- /.navbar-static-side -->
			</nav>

			<div id="page-wrapper">
				<div class="row" id="dynamiccontent">
					<!-- <div class="col-lg-12" id="dynamiccontent">
					</div>-->
					@title
					<!-- /.col-lg-12 -->
				</div>
				<!-- /.row -->
			</div>
			<!-- /#page-wrapper -->

		</div>
		<!-- /#wrapper -->
		@dynamiccontent

		<!-- jQuery -->
		<script src="@routes.Assets.at("lib/jquery/dist/jquery.min.js")" ></script>
		<!-- Bootstrap Core JavaScript -->
		<script src="@routes.Assets.at("lib/bootstrap/js/bootstrap.min.js")" ></script>
		
		<!-- Metis Menu Plugin JavaScript 
    	<script src="@routes.Assets.at("bower_components/metisMenu/dist/metisMenu.min.js")"></script>
		-->


		<!-- Bootstrap Core JavaScript -->
		<!-- Custom Theme JavaScript -->
		<script src="@routes.Assets.at("javascripts/sb-admin-2.js")" ></script>
		<script src="@routes.Assets.at("lib/bootstrap-select/dist/js/bootstrap-select.min.js")" ></script>
		
		<!-- Typehead  -->
		<script src="@routes.Assets.at("lib/jquery/dist/jquery.min.js")" ></script>
		<!-- <script src="@routes.Assets.at("lib/typeahead.js/dist/typeahead.bundle.js")" ></script> -->
		<script src="@routes.Assets.at("javascripts/typeahead.bundle.min.js")" ></script> 
		<script >
			$(document)
					.ready(
							function() {

								var songSuggestionUrl = jsRoutes.controllers.Application
										.songsuggestions().url;
	
								var songList = new Bloodhound(
										{
											datumTokenizer : Bloodhound.tokenizers.obj
													.whitespace('value'),
											queryTokenizer : Bloodhound.tokenizers.whitespace,
											//prefetch: '../data/films/post_1960.json',
											//local: testStringsJson,
											remote : {
												url : songSuggestionUrl
														+ '?q=%QUERY',
												wildcard : '%QUERY',
												/*
												filter: function (list) {
								                    //debugger;
									          		console.log(list);
									          		return list;
												}
												*/
											},									
										});

								songList.initialize();
								
								
								$('.typeahead').typeahead(null, {
									name : 'songs',
									displayKey : 'value',
									limit : 15,
									source : songList.ttAdapter()
								});

								//typeahead callback function
								$('.typeahead')
										.bind(
												'typeahead:selected',
												function(obj, datum, name) {
													// you can print datum to see json avps
													var id = datum.key;
													var songViewerUrl = jsRoutes.controllers.Application
															.songview(id).url;
													window.location.href = songViewerUrl;
												});

							});
		</script>

		<!-- Transposer  
		<link rel="stylesheet" media="screen" href="@routes.Assets.at("lib/bootstrap/css/bootstrap.min.css")">
		<link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/dataTables.bootstrap.css")">
		<link rel="stylesheet" media="screen" href="@routes.Assets.at("lib/datatables-responsive/css/dataTables.responsive.css")">
		<link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/jquery.transposer.css")">


		<link rel="stylesheet" media="screen" href="@routes.Assets.at("lib/bootstrap-multiselect/dist/css/bootstrap-multiselect.css")">
		-->
	
		<script src="@routes.Assets.at("lib/datatables.net/js/jquery.dataTables.min.js")" ></script>
		
		<script src="@routes.Assets.at("lib/datatables.net-bs/js/dataTables.bootstrap.min.js")" ></script>
		<script src="@routes.Assets.at("javascripts/dataTables.balkan_sort.js")"  ></script>
		<script src="@routes.Assets.at("lib/datatables-responsive/js/dataTables.responsive.js")" ></script>
		<script src="@routes.Assets.at("javascripts/jquery.transposer.js")" ></script>
		<script src="@routes.Assets.at("lib/bootstrap-multiselect/dist/js/bootstrap-multiselect.js")" ></script>

		<script src="@routes.Assets.at("javascripts/jquery-ui.min.js")" ></script>
		<script src="@routes.Assets.at("javascripts/jquery.tablednd.js")" ></script>
		
	<!-- Piwik -->
	<script >
	  var _paq = _paq || [];
	  _paq.push(['trackPageView']);
	  _paq.push(['enableLinkTracking']);
	  (function() {
	    var u="//playsong.duckdns.org/piwik/";
	    _paq.push(['setTrackerUrl', u+'piwik.php']);
	    _paq.push(['setSiteId', 1]);
	    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
	    g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
	  })();
	</script>
	<noscript><p><img src="//playsong.duckdns.org/piwik/piwik.php?idsite=1" style="border:0;" alt="" /></p></noscript>
	<!-- End Piwik Code -->
	</body>
</html>
