@(title: String)(content: Html)

<html>
    <head>
        <title>@title</title>
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
        <!-- 
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/jquery-ui.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/jquery.transposer.css")">
        <script src="@routes.Assets.at("lib/jquery/dist/jquery.min.js")" ></script>
        <script src="@routes.Assets.at("javascripts/jquery-ui.min.js")" ></script>
        <script src="@routes.Assets.at("lib/datatables/js/jquery.dataTables.min.js")" ></script>
        <script src="@routes.Assets.at("javascripts/jquery.transposer.js")" ></script>
         -->
    </head>
    <body>
    @content
    </body>
</html>
