@(playlists: List[Playlist], user: UserAccount, songsModified : List[SongSuggestion], songsCreated : List[SongSuggestion])

@admintheme("Playlists", user, songsModified, songsCreated) {
<link rel="stylesheet" media="screen" href="@routes.Assets.at("lib/bootstrap-select/dist/css/bootstrap-select.min.css")">
<link rel="stylesheet" media="screen" href="@routes.Assets.at("lib/handsontable/handsontable.full.min.css")">
<script src="@routes.Application.javascriptRoutes()" ></script>

<div hidden id="playlists_wrapper">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<h2>Playlists </h2>
				<div class="checkbox">
				  <label hidden><input type="checkbox" id="exclude-chords-checkbox" value="">Exclude chords</label>
				</div>
				<div class="checkbox">
					  <label hidden><input type="checkbox" id="use-columns-checkbox" value="">Use columns</label>
				</div>
				<div>
					  <a id="download-button" href="#" download hidden><i class="fa fa-download"></i> Download </a>
				</div>
				
				<ul>
					@playlists.reverse.map { playlist =>
					<li>
						<strong>  @playlist.playListName: </strong>   <small><small>(@playlist.dateCreated)</small></small>
						@if(user.email != "Guest"){
						<button class="deletebutton" type="button" id=@playlist.id class="btn btn-default">
							<i class="fa fa-times"></i>
						</button>
						}
						<br>
						<ol>
						@playlist.songs.map { song =>											
							<li><i class="fa fa-music"></i>  @song.songName</li>
						}
						</ol>				
						<a href="@routes.Playlists.downloadPlaylist(playlist.id.toString())" download><i class="fa fa-download"></i> Download playlist </a>					
						<a href='@routes.Playlists.downloadPlaylist(playlist.id.toString()+"_x0")' download><i class="fa fa-download"></i> No chords</a>			
					    <a href='@routes.Playlists.downloadPlaylist(playlist.id.toString()+"_0c")' download><i class="fa fa-download"></i> No columns</a>							
					    <a href='@routes.Playlists.downloadPlaylist(playlist.id.toString()+"_xc")' download><i class="fa fa-download"></i> No chords&columns</a>
					</li>
					}
				</ul>
			</div>
		</div>
	</div>
</div>

<script src="@routes.Assets.at("lib/jquery/dist/jquery.min.js")" ></script>

<script >
	$(document).ready(function() {
		$('#dynamiccontent').html($('#playlists_wrapper').html());
		$('#playlists_wrapper').remove();
						
		function deletePlaylist(id) {
			console.log("Delete playlist : " + id);
			jsRoutes.controllers.Playlists.deletePlayList(id).ajax({
				type : 'DELETE',
				success : function() {
					var link = "@routes.Application.playlists()";
					window.location = link;
				},
				error : function() {
					console.log("Error: ajax failure");
				}
			});
		}		

		$('.deletebutton').click(function(event) {
			if( !confirm("Do you really want to delete playlist?") ){
		            event.preventDefault();
		        } 
		        else {
		        	//console.log("this is id for deletion" + this.id);
		            var id = this.id;
					deletePlaylist(id);
		        }
		});
		
	}); 
</script>
}
