@(songs: List[Song],  songBooks : List [SongBook], songBookId: String, user: UserAccount, songsModified : List[SongSuggestion], songsCreated : List[SongSuggestion])

@playlist_maker_wrapper = {
	<!-- 
<link rel="stylesheet" media="screen" href="@routes.Assets.at("lib/bootstrap/css/bootstrap.min.css")">
 -->
<link rel="stylesheet" media="screen" href="@routes.Assets.at("lib/bootstrap-multiselect/dist/css/bootstrap-multiselect.css")">

	<h2>Playlist Maker <i class="glyphicon glyphicon-cog"></i></h2>
	<div class="panel panel-default" style="overflow:visible;">
		<div class="panel-heading">
			<div class="panel-title">
				<ol>
					<li>
						Select the <strong>Songbook</strong> or leave all songs as default
					</li>
					<li>
						Click the <strong>Select songs</strong> button to choose songs
					</li>
					<li>
						Click the <strong>Prepare Playlists</strong> button
					</li>
					<li>
						Check the order of songs (you can transpose them or change order by drag and drop or with arrows)
					</li>
					<li>
						Click the <strong>Download Playlist</strong> button
					</li>
				</ol>
			</div>
		</div>
	</div>
	<br>
	<label for="select-songbooks">Songbook:</label>
	<br>
	<select id="select-songbooks" class="selectpicker">
		  <option value="00000000">All Songs</option>
		   @if(songBooks.size>0){
			  @songBooks.map { songBookItem =>
			  	   @if(!songBookItem.getId().equals("00000000")){
			  	    	@if(songBookItem.getId().equals(songBookId)){
					    	<option value="@songBookItem.getId()" selected>@songBookItem.getSongBookName()</option>
					    }else {
				    		<option value="@songBookItem.getId()">@songBookItem.getSongBookName()</option>
				    	}
				    }
			  	}
			 </select>
	        }
	</select>
	<br><br>
	<form class="btn-group form-inline" id="songbook-form" style="display: none;">
		<div class="btn-group">
           
			<select id="song-selector" class="btn-group btn-info active" multiple="multiple">
				@songs.map { song =>
				@song.songLyrics.zipWithIndex.map{ case (songlyrics, i) =>
				@if(i==0){
				<option id="@song.id" value="@songlyrics.id" data-songkey="@songlyrics.songKey">@song.songName (@songlyrics.songKey)</option>
				}
				@if(i>0){
				@defining(i + 1) { idx =>
				<option id="@song.id" value="@songlyrics.id" data-songkey="@songlyrics.songKey">@song.songName @idx (@songlyrics.songKey)</option>
				}
				}
				}
				}
			</select>
			 <!--  
			<select id="title-font" class="btn btn-group btn-default">
				<option label="Title font">Title font</option>
				<option value="1">Arial</option>
				<option value="2">Droid Sans</option>
				<option value="3">Courier New</option>
			</select>
			
			<select id="lyrics-font" class="btn btn-group btn-default">
				<option value="1">Courier New</option>
				<option value="2">Droid Sans Mono</option>
				<option value="3">Consolas</option>
			</select>
			<select id="document-format" class="btn btn-group btn-default">
				<option value="1">pdf</option>
				<option value="2">word</option>
			</select>
			-->
			&nbsp;
			<div class="checkbox">
				  <label><input type="checkbox" id="exclude-chords-checkbox" checked> <i class="fa fa-music">  Chords</i></label>
			</div>
            &nbsp;
			<div class="checkbox">
				   <label><input type="checkbox" id="use-columns-checkbox" checked> <i class="fa fa-columns">  Columns</i></label>
			</div>
		</div>
		<br>
		@if(user.email != "Guest"){
		<div class="form-inline">
			<br>
			<label for="playlist-name">Playlist name:</label>
			<br>
			<input type="text" class="form-control" id="playlist-name">
            &nbsp;
			<div class="checkbox">
				  <label><input type="checkbox" id="publish-playlist-checkbox" value="">Save playlist</label>
			</div>
		</div>	
		}
		<br>
		<button type="button" id="submit-button" class="btn btn-warning">
			<i class="fa fa-book fa-fw"></i> Prepare playlist
		</button>
		<button type="button" id="submit-button" onClick="location.reload(); " class="btn btn-danger">
			<i class="fa fa-refresh fa-fw"></i> Reset
		</button>	
		<div id="notificationdiv"></div>
	</form>
	<div>
		<table id="song_table" class="table table-striped table-bordered" width="100%" cellspacing="0"></table>
	</div>


<script src="@routes.Assets.at("lib/bootstrap-multiselect/dist/js/bootstrap-multiselect.js")"></script>

<script >
	$(document).ready(function() {
		$('#song-selector').multiselect({
			enableCaseInsensitiveFiltering : true,
			enableFiltering : true,
			includeSelectAllOption : true,
			inheritClass : true,
			disableIfEmpty : true,
			numberDisplayed : 4,
			enableClickableOptGroups : false,
			nonSelectedText : 'Select songs',
			maxHeight : 400
		});
        $('#songbook-form').show();
        
		// change songbook event handling	
		$("#select-songbooks").change(function(){
		   console.log("value changed" + this.value);
		   var selectedSongbookId = this.value;
		   var songBookDefaultUrl = "@routes.Application.playlistmaker()";
		   //var songBookUrl = songBookDefaultUrl.substring(0,songBookDefaultUrl.length-8) + selectedSongbookId;
		   var songBookUrl = songBookDefaultUrl +"?id=" + selectedSongbookId;
		   window.open(songBookUrl, '_self');
		});

		function setSelected() {
			console.log("Change Event");
		}

		var dataSet = [];
		var playListData;
		var playListPrepared = false;
		//generate button
		$('#submit-button').on('click', function() {
			if (playListPrepared === false) {
				console.log("GENERATE PLAYLIST!");
				$('#notificationdiv').html('<div class="alert alert-info close" data-dismiss="alert">Generated song list</div>');		
				var songIds = [];
				$('#song-selector option:selected').each(function() {
					var songObject = new Object();
					var songValue = new Object();
					songValue.id = $(this).attr('id');
					songValue.lyricsID = $(this).val();
					songValue.key = $(this).attr('data-songkey');
					var helper = [];
					helper.push($(this).text());
					helper.push(songValue.id);
					helper.push(songValue.lyricsID);
					helper.push(songValue.key);
					helper.push("0");
					dataSet.push(helper);
					songObject.song = songValue;
					songIds.push(songObject);
					console.log(songIds.lenght);
				});
				if (Object.keys(songIds).length < 1) {
					$('#notificationdiv').html('');
					window.alert("Select songs first");
				} else {	
					playListData = new Object();
					playListData.songs = songIds;
					var songFont = new Object();
					var titleFont = $('#title-font option:selected').text();
					if (titleFont == "Title font") {
						//default
						titleFont = "Arial";
					}
					songFont.titleFont = titleFont;

					var lyricsFont = $('#lyrics-font option:selected').text();
					if (lyricsFont == "Lyrics font") {
						//default
						lyricsFont = "Courier New";
					}
					songFont.lyricsFont = lyricsFont;
					playListData.fonts = songFont;
					//console.log(dataSet);
					$('#song_table').html('<table cellpadding="0" cellspacing="0" border="0" class="display" id="example"></table>');
					var oTable = $('#song_table').dataTable({
						"data" : dataSet,
						"responsive" : false,
						"searching" : false,
						"paging" : false,
						"bJQueryUI" : true,
						"bStateSave" : true,
						"bInfo" : true,
						"bAutoWidth" : true,
						"bSort" : false,
						"dom" : 'T<"clear">lfrtip',
						"columns" : [{
							"title" : "Song"
						}, {
							"title" : "SongID"
						}, {
							"title" : "LyricsId"
						}, {
							"title" : "Key"
						}],
						"bDestroy" : true,
						"fnRowCallback" : function(nRow, aData, iDisplayIndex) {
							var songKeySelect = '<select id="songKeySelector_' + aData[2] + '"><option value="C"  >C</option><option value="C#"  >C#</option><option value="Db"  >Db</option><option value="D"  >D</option><option value="D#"  >D#</option><option value="Eb"  >Eb</option><option value="E"  >E</option><option value="F"  >F</option><option value="F#"  >F#</option><option value="Gb"  >Gb</option><option value="G"  >G</option><option value="G#"  >G#</option><option value="Ab"  >Ab</option><option value="A"  >A</option><option value="A#"  >A#</option><option value="B"  >B</option></select>';
							var idx = songKeySelect.indexOf("\"" + aData[3] + "\"");
							var songKeySelect = songKeySelect.slice(0, idx + 5) + "selected=\"true\"" + songKeySelect.slice(idx + 5);
							$('td:eq(1)', nRow).addClass("json-song-id");
							$('td:eq(2)', nRow).addClass("json-lyrics-id");
							$('td:eq(3)', nRow).html(songKeySelect);
							var rowId = 'row_' + aData[2];
							$(nRow).attr('id', aData.RowOrder);
							$(rowId + " select").val(aData[3]);
							var songNameWithSort = '<button type="button" class="move up"><i class="fa fa-sort-up"></i></button><button type="button" class="move down"><i class="fa fa-sort-down"></i></button>  ';			
							$('td:eq(0)', nRow).html(songNameWithSort + aData[0]);
							return nRow;
						}
					});
					// detect if smaller screen to disable drag & drop
					if ($(window).width()>=800){
						oTable.tableDnD();
					}
					$('#song_table button.move').click(function() {
						var row = $(this).closest('tr');
						if ($(this).hasClass('up'))
							row.prev().before(row);
						else
							row.next().after(row);
					});
					playListPrepared = true;
					$('#submit-button').removeClass('btn-warning');
					$('#submit-button').addClass('btn-success');
					$('#submit-button').html('Download Playlist ' + '<i class="glyphicon glyphicon-download-alt"></i>');
				}
			} else {
				console.log("DOWNLOAD PLAYLIST STARTED!");
				$('#notificationdiv').html('<div class="alert alert-info close" data-dismiss="alert">Preparing and downloading</div>');				
				var lyricsData = [];
				$('#song_table .json-lyrics-id').each(function() {
					lyricsData.push($(this).text());
				});
				var songData = [];
				$('#song_table .json-song-id').each(function() {
					songData.push($(this).text());
				});
				var songIds = [];
				for (var i = 0; i < lyricsData.length; i++) {
					var songObject = new Object();
					var songValue = new Object();
					songValue.id = songData[i];
					songValue.lyricsID = lyricsData[i];
					var songKeySelector = "#songKeySelector_" + lyricsData[i];
					var key = $(songKeySelector + " option:selected").text();
					songValue.key = key;
					var helper = [];
					helper.push(songValue.id);
					helper.push(songValue.lyricsID);
					helper.push(songValue.key);
					dataSet.push(helper);
					songObject.song = songValue;
					songIds.push(songObject);
				}
				playListData = new Object();
				playListData.songs = songIds;

				var songFont = new Object();
				var titleFont = $('#title-font option:selected').text();
				if (titleFont == "Title font") {
					//default
					titleFont = "Arial";
				}
				songFont.titleFont = titleFont;

				var lyricsFont = $('#lyrics-font option:selected').text();
				if (lyricsFont == "Lyrics font") {
					//default
					lyricsFont = "Courier New";
				}
				songFont.lyricsFont = lyricsFont;
				playListData.fonts = songFont;
				
				var format = $('#document-format' + ' option:selected').text();
				if (!format){
				format = "pdf";
				}
				playListData.format = format;
				
				@if(user.email != "Guest"){
				playListData.publishPlaylist = document.getElementById('publish-playlist-checkbox').checked;
				playListData.playListName = $('#playlist-name').val();
				}
				if (document.getElementById('exclude-chords-checkbox').checked){
					playListData.excludeChords = false;
				} else {
					playListData.excludeChords = true;
				}
				playListData.useColumns = document.getElementById('use-columns-checkbox').checked;
											
				console.log("HERE IS JSON OBJECT:");
				console.log(playListData);
				$.ajax("@routes.Playlists.generatePlaylist()", {
					type : 'POST',
					data : JSON.stringify(playListData),
					success : function(data) {
						var link = "@routes.Playlists.downloadAndDeleteFile()";
						link = link.concat("?hash=" + data);
						link = link.concat("&format=" + format);
						window.open(link, '_self');
						$('#notificationdiv').html('<div class="alert alert-info close" data-dismiss="alert">Playlist downloaded</div>');		
					},
					contentType : 'application/json'
				});
			}

		});

	}); 
</script>

<link rel="stylesheet" media="screen" href="@routes.Assets.at("lib/datatables-responsive/css/dataTables.responsive.css")">
<script src="@routes.Assets.at("javascripts/jquery-ui.min.js")" ></script>
<script src="@routes.Assets.at("javascripts/jquery.tablednd.js")" ></script>
<script src="@routes.Assets.at("lib/datatables.net/js/jquery.dataTables.min.js")" ></script>
<script src="@routes.Assets.at("lib/datatables-responsive/js/dataTables.responsive.js")" ></script>
<script src="@routes.Assets.at("javascripts/dataTables.balkan_sort.js")"></script>
}

@admintheme("", user, songsModified, songsCreated)(playlist_maker_wrapper)