@(services: List[Service], user: UserAccount, songsModified : List[SongSuggestion], songsCreated : List[SongSuggestion])

@admintheme("Services", user, songsModified, songsCreated) {
<link rel="stylesheet" media="screen" href="@routes.Assets.at("lib/bootstrap-select/dist/css/bootstrap-select.min.css")">
<link rel="stylesheet" media="screen" href="@routes.Assets.at("lib/handsontable/handsontable.full.min.css")">
<script src="@routes.Application.javascriptRoutes()" ></script>

<div hidden id="service_wrapper">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<h3>Services </h3>
				<div class="checkbox">
				  <label hidden><input type="checkbox" id="exclude-chords-checkbox" value="">Exclude chords</label>
				</div>
				<div class="checkbox">
					  <label hidden><input type="checkbox" id="use-columns-checkbox" value="">Use columns</label>
				</div>
				<div>
					  <a id="download-button" href="#" download hidden><i class="fa fa-download"></i> Download </a>
				</div>
				
				<ul>
					@services.reverse.map { service =>
					<li>
						<strong>  @service.serviceName: </strong>   <small><small>(@service.dateCreated)</small></small>
						@if(user.email != "Guest"){
						<button class="deletebutton" type="button" id=@service.id class="btn btn-default">
							<i class="fa fa-times"></i>
						</button>
						}
						<br>
						<ol>
						@service.songs.map { song =>											
							<li><i class="fa fa-music"></i>  @song.songName</li>
						}
						</ol>				
						<a href="@routes.Application.generateService(service.id.toString())" download><i class="fa fa-download"></i> Download service </a>					
						<a href='@routes.Application.generateService(service.id.toString()+"_x")' download><i class="fa fa-download"></i> Without chords</a>			
					</li>
					}
				</ul>
			</div>
		</div>
	</div>
</div>

<script src="@routes.Assets.at("lib/jquery/dist/jquery.min.js")" ></script>

<script >
	$(document).ready(function() {
		$('#dynamiccontent').html($('#service_wrapper').html());
		$('#service_wrapper').remove();
	
		function deleteService(id) {
			console.log("Delete service : " + id);
			jsRoutes.controllers.Application.deleteservice(id).ajax({
				type : 'DELETE',
				success : function() {
					var link = "@routes.Application.services()";
					window.location = link;
				},
				error : function() {
					console.log("Error: ajax failure");
				}
			});
		}
		
				var excludeChords = document.getElementById('exclude-chords-checkbox').checked;
				var userColumns = document.getElementById('use-columns-checkbox').checked;
											
				/*
				$.ajax("@routes.Application.generateSongbook()", {
					type : 'GET',
					data : JSON.stringify(songBookData),
					success : function(data) {
						var link = "@routes.Application.downloadAndDeleteFile()";
						link = link.concat("?hash=" + data);
						link = link.concat("&format=" + format);
						window.open(link, '_self');
						$('#notificationdiv').html('<div class="alert alert-info close" data-dismiss="alert">Songbook downloaded</div>');		
					},
					contentType : 'application/json'
				});
				*/

		$('.deletebutton').click(function(event) {
			if( ! confirm("Do you really want to delete service?") ){
		            event.preventDefault();
		        } 
		        else {
		            var id = this.id;
					deleteService(id);
		        }
		});
		
	}); 
</script>
}
