@(songs: List[Song], songForm: Form[Song])

@import helper._

@main("Song list") {

    <h1>@songs.size() songs(s)</h1>

    <ul>
    @for(song <- songs) {
        <li>
            @song.songName

            @form(routes.Application.getSong(song.id)) {
                <input type="submit" value="Show">
            }
            @form(routes.Application.deleteSong(song.id)) {
                <input type="submit" value="Delete">
                }
        </li>
    }
    </ul>

    <h2>Add a new song</h2>

    @helper.form(action = routes.Application.newSong()) {
        @helper.inputText(songForm("songName"))
        @helper.inputText(songForm("songAuthor"))
        @helper.textarea(field = songForm("songLyrics"), args = 'rows -> 20, 'cols -> 40)
        <input type="submit" value="Create">
    }

}