@(songs: List[Song])

<html>
<body>
@songs.map { song =>
<h3>Song</h3>
<p id="songName">@song.songName</p>
<p id="songOriginalTitle">@song.songOriginalTitle</p>
<p id="songAuthor">@song.songAuthor</p>
<p id="songLink">@song.songLink</p>
<p id="songImporter">@song.songImporter</p>
<p id="songLastModifiedBy">@song.songLastModifiedBy</p>
<p id="dateCreated">@song.dateCreated</p>
<p id="dateModified">@song.dateModified</p>
<p id="id">@song.id</p>

<h4>Lyrics</h4>
@song.songLyrics.zipWithIndex.map{ case (songlyrics, i) =>
<p id="songLyrics.id">@songlyrics.id</p>
<p id="songKey">@songlyrics.songKey</p>
<pre id="songLyrics">
@songlyrics.songLyrics</pre>
}
}

</body>
</html>