@(songs: List[Song])

<html>
<body>
<div name="songs">	
@songs.map { song =>
<div name="song">	
<h3>Song</h3>
<p name="songName">@song.songName</p>
<p name="songOriginalTitle">@song.songOriginalTitle</p>
<p name="songAuthor">@song.songAuthor</p>
<p name="songLink">@song.songLink</p>
<p name="songImporter">@song.songImporter</p>
<p name="songLastModifiedBy">@song.songLastModifiedBy</p>
<p name="dateCreated">@song.dateCreated</p>
<p name="dateModified">@song.dateModified</p>
<p name="songBookId">@song.songBookId</p>
<p name="id">@song.id</p>


<h4>Lyrics</h4>
@song.songLyrics.zipWithIndex.map{ case (songlyrics, i) =>
<span name="lyrics">
<p name="songLyrics.id">@songlyrics.id</p>
<p name="songKey">@songlyrics.songKey</p>
<pre name="songLyrics">
@songlyrics.songLyrics</pre>
}
</span>
</div>
}
</div>
<!-- Piwik -->
<script type="text/javascript">
  var _paq = _paq || [];
  _paq.push(['trackPageView']);
  _paq.push(['enableLinkTracking']);
  (function() {
    var u="//playsong.duckdns.org/piwik/";
    _paq.push(['setTrackerUrl', u+'piwik.php']);
    _paq.push(['setSiteId', 1]);
    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
    g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
  })();
</script>
<noscript><p><img src="//playsong.duckdns.org/piwik/piwik.php?idsite=1" style="border:0;" alt="" /></p></noscript>
<!-- End Piwik Code -->
</body>
</html>