@(id: String, songForm: Form[Song], user: UserAccount, songsModified : List[SongSuggestion], songsCreated : List[SongSuggestion], songBooks : List [SongBook])

@admintheme("Song Editor", user, songsModified, songsCreated) {
    <div id="songEditor">
        <h2>Edit or create song</h2>
        @helper.form(action = routes.Songs.updateorcreatesong()) {
        	<div class="row">
			<div class="col-lg-3 col-md-6">		
            @helper.inputText(songForm("songName"), args = '_label -> "Song name: ", 'class -> "form-control")
            @helper.inputText(songForm("songOriginalTitle"), args = '_label -> "Original title: ", 'class -> "form-control")
            @helper.inputText(songForm("songAuthor"), args = '_label -> "Author: ", 'class -> "form-control")
            @helper.inputText(songForm("songLink"), args = '_label -> "Link: ", 'class -> "form-control")
            @helper.inputText(songForm("songBookName"), args = '_label -> "Songbook Name: ", 'class -> "form-control")
            
            @if(songBooks.size>0){
            	<label for="songbook-select">Add To Songbook:</label>
	           	<select class="selectpicker form-control" id="songbook-select">
				  @songBooks.map { songBookItem =>
					    <option value="@songBookItem.getId()">@songBookItem.getSongBookName()</option>
				  	}
				 </select>
	        }
	        <br>
	        <br>
			@helper.checkbox(songForm("isPrivateSongBook"), args = '_label -> "Private songbook: ", 'class -> "form-inline")
			@helper.checkbox(songForm("privateSong"), args = '_label -> "Private song: ", 'class -> "form-inline")
			<button type="button" id="addAdditionalLyricsButton" class="btn btn-default">Add additional lyrics</button>
			<input type="submit" value="Save" class="btn btn-default">
			</div>
			<div class="col-lg-3 col-md-
            @helper.textarea(field = songForm("songLyrics[0].songLyrics"), args = '_label -> "Lyrics: ", 'rows -> 40, 'cols -> 35, 'class -> "form-textarea monoSpaceTextArea", 'lang -> "hr")
            @helper.textarea(field = songForm("songLyrics[1].songLyrics"), args = 'style -> "display:none;", 'rows -> 40, 'cols -> 35, 'class -> "form-textarea monoSpaceTextArea", 'lang -> "hr")
            @helper.textarea(field = songForm("songLyrics[2].songLyrics"), args = 'style -> "display:none;", 'rows -> 40, 'cols -> 35, 'class -> "form-textarea monoSpaceTextArea", 'lang -> "hr")
            @helper.textarea(field = songForm("songLyrics[3].songLyrics"), args = 'style -> "display:none;", 'rows -> 40, 'cols -> 35, 'class -> "form-textarea monoSpaceTextArea", 'lang -> "hr")           
            @helper.inputText(songForm("id"), args = 'style -> "display:none;", 'hidden -> "hidden")
            @helper.inputText(songForm("songBookId"), args = 'style -> "display:none;", 'hidden -> "hidden")
			</div>
            </div>          
        }
        </div>

    <script src="@routes.Assets.at("lib/jquery/dist/jquery.min.js")" ></script>
    <script src="@routes.Application.javascriptRoutes()"  ></script>

    <script >
    $ ( document ).ready ( function ( ) {
        $('#dynamiccontent').html($('#songEditor' ).html());
        $('#songEditor' ).remove();

        var songLyricsCount = 0;
        var id = @id;

        $('#id').attr("value", id);
        $('label[for="id"]').hide();

        function CreateSongEditor(id){
            $('label[for="songLyrics_1_songLyrics"]').hide();
            $('label[for="songLyrics_2_songLyrics"]').hide();
            $('label[for="songLyrics_3_songLyrics"]').hide();

            var songLyricsIDs = [];
            if (id>0){
                jsRoutes.controllers.Application.getsongjson(id).ajax({
                    datatype: 'json',
                    success: function(data) {
                        $('#songName').attr("value", data.songName);
                        $('#songOriginalTitle').attr("value", data.songOriginalTitle);
                        $('#songAuthor').attr("value", data.songAuthor);
                        $('#songLink').attr("value", data.songLink);
                        
                        if (data.privateSong){
                        	$('#privateSong').attr('checked', 'checked');
                        }
                        
                        if (data.songBooks[0].songBookPrivate){
                        	$('#isPrivateSongBook').attr('checked', 'checked');
                        }
      
                        $('#songBookName').attr("value", data.songBooks[0].songBookName);
                        $('#songBookId').attr("value", data.songBooks[0].songBookId);
                        songLyricsIDs = data.songLyricsIDs;

                        $.each(songLyricsIDs, function(i,s){
                            songLyricsCount = songLyricsCount + 1;
                            jsRoutes.controllers.Application.getsonglyricsjson(s).ajax({
                            success : function ( data ) {
                                var songLyricsTag = '#songLyrics_' + i + '_songLyrics';
                                $ (songLyricsTag).val (data.songLyrics);
                                $ (songLyricsTag).attr ("style", "display:block;");
                            },
                            error : function ( ) {
                                console.log ( "Error: ajax failure" )
                                }
                            })
                    });

                    },
                    error: function() {
                        console.log("Error: ajax failure");
                    }
            })
            }
        }
        
        $("#songbook-select").change(function(){
		   var selectedSongbookId = this.value;
		   var selectedSongbookName = $("#songbook-select option:selected" ).text();
		   $('#songBookId').attr("value", selectedSongbookId);
		   $('#songBookName').attr("value", selectedSongbookName);
		});
        
        $("#addAdditionalLyricsButton" ).click(function() {
            $('#songLyrics_'+songLyricsCount+'_songLyrics').attr("style", "display:block;");
            songLyricsCount = songLyricsCount + 1;
        });

    CreateSongEditor(id);
    // hide label
	$('label[for="songBookId"]').hide();
    });
    </script>
}

