@(id: Long, songForm: Form[Song], user: UserAccount, songsModified : List[SongSuggestion], songsCreated : List[SongSuggestion])

@admintheme("Song Editor", user, songsModified, songsCreated) {
    <div id="songEditor">
        <h2>Edit or create song</h2>
        @helper.form(action = routes.Application.newsong()) {
            @helper.inputText(songForm("songName"), args = '_label -> "Song name: ", 'class -> "form-control")
            @helper.inputText(songForm("songOriginalTitle"), args = '_label -> "Original title: ", 'class -> "form-control")
            @helper.inputText(songForm("songAuthor"), args = '_label -> "Author: ", 'class -> "form-control")
            @helper.inputText(songForm("songLink"), args = '_label -> "Link: ", 'class -> "form-control")
            @helper.textarea(field = songForm("songLyrics[0].songLyrics"), args = '_label -> "Lyrics: ", 'rows -> 30, 'cols -> 50, 'class -> "form-control monoSpaceTextArea")
            @helper.textarea(field = songForm("songLyrics[1].songLyrics"), args = 'style -> "display:none;", 'rows -> 30, 'cols -> 50, 'class -> "form-control monoSpaceTextArea")
            @helper.textarea(field = songForm("songLyrics[2].songLyrics"), args = 'style -> "display:none;", 'rows -> 30, 'cols -> 50, 'class -> "form-control monoSpaceTextArea")
            @helper.textarea(field = songForm("songLyrics[3].songLyrics"), args = 'style -> "display:none;", 'rows -> 30, 'cols -> 50, 'class -> "form-control monoSpaceTextArea")
            <input type="submit" value="Save" class="btn btn-default">
            @helper.inputText(songForm("id"), args = 'style -> "display:none;", 'class -> "form-control monoSpaceTextArea")
        }
        <button type="button" id="addAdditionalLyricsButton" class="btn btn-default">Add additional lyrics</button>
    </div>

    <script src="@routes.Assets.at("lib/jquery/dist/jquery.min.js")" type="text/javascript"></script>
    <script src="@routes.Application.javascriptRoutes()" type="text/javascript" ></script>

    <script type="text/javascript">
    $ ( document ).ready ( function ( ) {
        $('#dynamiccontent').html($('#songEditor' ).html());
        $('#songEditor' ).remove();

        var songLyricsCount = 0;
        var id = @id;

        $('#id').attr("value", id);
        $('label[for="id"]').hide();

        function CreateSongEditor(id){
            $('label[for="songLyrics_1_songLyrics"]').hide();
            $('label[for="songLyrics_2_songLyrics"]').hide();
            $('label[for="songLyrics_3_songLyrics"]').hide();

            var songLyricsIDs = [];
            if (id>0){
                jsRoutes.controllers.Application.getsongjson(id).ajax({
                    datatype: 'json',
                    success: function(data) {
                        $('#songName').attr("value", data.songName);
                        $('#songOriginalTitle').attr("value", data.songOriginalTitle);
                        $('#songAuthor').attr("value", data.songAuthor);
                        $('#songLink').attr("value", data.songLink);
                        songLyricsIDs = data.songLyricsIDs;

                        $.each(songLyricsIDs, function(i,s){
                            songLyricsCount = songLyricsCount + 1;
                            jsRoutes.controllers.Application.getsonglyricsjson(s).ajax({
                            success : function ( data ) {
                                var songLyricsTag = '#songLyrics_' + i + '_songLyrics';
                                $ (songLyricsTag).val (data.songLyrics);
                                $ (songLyricsTag).attr ("style", "display:block;");
                            },
                            error : function ( ) {
                                console.log ( "Error: ajax failure" )
                                }
                            })
                    });

                    },
                    error: function() {
                        console.log("Error: ajax failure");
                    }
            })
            }
        }

        $( "#addAdditionalLyricsButton" ).click(function() {
            $('#songLyrics_'+songLyricsCount+'_songLyrics').attr("style", "display:block;");
            songLyricsCount = songLyricsCount + 1;
        });

    CreateSongEditor(id);

    });
    </script>
}

