@(numberOfSongsInDatabase: Int, user: UserAccount)

@admintheme("", user) {
<link rel="stylesheet" media="screen" href="@routes.Assets.at("lib/bootstrap/css/bootstrap.min.css")">
<link rel="stylesheet" media="screen" href="@routes.Assets.at("lib/datatables-responsive/css/dataTables.responsive.css")">
<link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/jquery.transposer.css")">
<link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/dataTables.bootstrap.css")">
<link rel="stylesheet" media="screen" href="@routes.Assets.at("lib/font-awesome/css/font-awesome.css")">

<div hidden id="song_table_wrapper" class="panel panel-default hover" cellspacing="0" width="100%">
	<h2>Song Database</h2>
	<div>
                 <div class="row">
	                <div class="col-lg-3 col-md-6" hidden>
	                    <div class="panel panel-primary">
	                        <div class="panel-heading">
	                            <div class="row">
	                                <div class="col-xs-3">
	                                    <i class="fa fa-bell-o fa-2x"></i>
	                                </div>
	                                <div class="col-xs-9 text-right">
	                                    <div class="large">26</div>
	                                    <div>New Songs!</div>
	                                </div>
	                            </div>
	                        </div>
	                        <div>
	                            <div class="panel-footer">
	                            	<div class="dropdown">     	
	                                <span id="dropdownMenu1" class="pull-left dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"><i class="fa fa-arrow-circle-right"></i> View Songs</span>
	                                <div class="clearfix"></div>
	                            	<!-- 
									  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
									    View Songs
									    <span class="caret"></span>
									  </button>
									   -->
									  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
									    <li><a href="#">Action</a></li>
									    <li><a href="#">Another action</a></li>
									    <li><a href="#">Something else here</a></li>
									    <li><a href="#">Separated link</a></li>
									  </ul>
									</div>
	                            </div>
	                        </div>
	                    </div>
	                </div>
	                <div class="col-lg-3 col-md-6" hidden>
	                    <div class="panel panel-green">
	                        <div class="panel-heading">
	                            <div class="row">
	                                <div class="col-xs-3">
	                                    <i class="fa fa-pencil fa-2x"></i>
	                                </div>
	                                <div class="col-xs-9 text-right">
	                                    <div class="large">12</div>
	                                    <div>Updated Songs!</div>
	                                </div>
	                            </div>
	                        </div>
	                         <div class="panel-footer">
	                            	<div class="dropdown">     	
	                                <span id="dropdownMenu1" class="pull-left dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"><i class="fa fa-arrow-circle-right"></i> View Songs</span>
	                                <div class="clearfix"></div>
	                            	<!-- 
									  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
									    View Songs
									    <span class="caret"></span>
									  </button>
									   -->
									  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
									    <li><a href="#">Action</a></li>
									    <li><a href="#">Another action</a></li>
									    <li><a href="#">Something else here</a></li>
									    <li><a href="#">Separated link</a></li>
									  </ul>
									</div>
	                    	</div>
	                	</div>
                	</div>
                	<div id="ytvideoframe" class="col-lg-3 col-md-6">
                	</div>
                </div>
                   
                	<div class="panel-heading"  id="song_table_header">
						<div class="large">
						<i class="glyphicon glyphicon-stats"></i>  @numberOfSongsInDatabase songs			
						<button id="addsongbutton" class="songbuttons btn btn-info pull-right">
							<i class="glyphicon glyphicon-plus"></i> Add new song
						</button>
						</div>
						<div class="clearfix"></div>
					</div>
            </div>
		

		<div class="col-lg-6"  id="song_table_div">
			<div class="panel-body">
				<div class="dataTables_wrapper form-inline dt-bootstrap no-footer">
					<table id="song_table" class="table table-striped table-bordered table-hover dt-responsive" width="100%" cellspacing="0">
						<thead>
							<tr>
								<th>Name</th>
								<th class="datatable-nosort">Link</th>
								<th>Title</th>
								<th>Author</th>
								<th class="datatable-nosort">Id</th>
							</tr>
						</thead>
					</table>
				</div>
			</div>
		</div>

		<div class="panel panel-default col-lg-6" id="song_section_div" hidden>
			<div class="panel-body">
				<div class="row">
					<button id="editsongbutton" class="songbuttons btn btn-primary btn-warning" href="#">
						<i class="glyphicon glyphicon-edit"></i> Edit song
					</button>
					@if(user.email != "Guest"){
					<button id="deletesongbutton" class="songbuttons btn btn-primary btn-danger">
						<i class="glyphicon glyphicon-trash"></i> Delete song
					</button>
					}
					<div class="alert alert-block alert-error fade in" id="cert-error" style="display:none;">
						<button type="button" class="close" data-dismiss="alert"></button>
						<h4 class="alert-heading">Delete success</h4>
					</div>
				</div>
	
				<div class="row">
					<pre id="songLyrics"></pre>
				</div>
			</div>
		</div>
	</div>

</div>

<script src="@routes.Assets.at("lib/jquery/dist/jquery.min.js")" type="text/javascript"></script>
<script src="@routes.Assets.at("lib/datatables/media/js/jquery.dataTables.min.js")" type="text/javascript"></script>
<script src="@routes.Assets.at("javascripts/dataTables.bootstrap.js")" type="text/javascript" ></script>
<script src="@routes.Assets.at("lib/datatables-responsive/js/dataTables.responsive.js")" type="text/javascript"></script>
<script src="@routes.Assets.at("javascripts/dataTables.balkan_sort.js")"></script>

<script type="text/javascript">
	//variable holding reference to selected song
	var selectedSongID;
	//variable holding reference to selected songlyrics
	var selectedSongLyricsID;

	$(document).ready(function() {
		// copy song table div to dynamic content div
		//$('#song_table_wrapper').insertAfter(('#dynamiccontent'));
		$('#dynamiccontent').html($('#song_table_wrapper').html());
		
		// delete initial table div
		//$('#song_table_wrapper').remove();
		function isUrl(s) {
			var regexp = /(ftp|http|https):\/\/(\w+:{0,1}\w*)?(\S+)(:[0-9]+)?(\/|\/([\w#!:.?+=&%!\-\/]))?/;
			return regexp.test(s);
		}
		
		/* Table initialisation */
		$('#song_table').dataTable({
			"responsive" : true,
			"processing" : false,
			// "aaSorting" :[[ 0, "asc" ] ],
			"serverSide" : true,
			"bJQueryUI" : true,
			"sPaginationType" : "full",
			"stateSave": true,
			"sAjaxSource" : " @routes.Application.getsongsdatatable()",
			//"dom": 'T<"clear">lfrtip',
			"columns" : [{
				"data" : "songName"
			}, {
				"data" : "songLink"
			}, {
				"data" : "songOriginalTitle"
			}, {
				"data" : "songAuthor"
			}, {
				"data" : "songId"
			}],
			"columnDefs" : [{
				targets : "datatable-nosort",
				orderable : false
			}, {
				targets : [0],
				"type" : "balkan_sort"
			}],
			"tableTools" : {
				"sRowSelect" : "single"
			},
			"fnRowCallback" : function(nRow, aData, iDisplayIndex) {
				var sLinks = '<div class="paginationBar"> <button type="button" class="btn btn-link lyrics-link" id=' + aData.songLyricsIDs[0] + '>' + aData.songName + '</button>';
				var songLyricsIdsCount = Object.keys(aData.songLyricsIDs).length;
				if (songLyricsIdsCount > 1) {
					$.each(aData.songLyricsIDs, function(i, s) {
						//this it to skip zeroth iteration
						if (i > 0) {
							var idx = i + 1;
							sLinks = sLinks.concat('<button class="lyrics-link" id=' + aData.songLyricsIDs[i] + '>' + idx + '</button>');
						}
					});
				}
				sLinks = sLinks.concat('</div>');
				$('td:eq(0)', nRow).html(sLinks);
				if (aData.songLink && isUrl(aData.songLink)) {
					var sYTLink = '<button type="button" class="ytlinkbutton" id='+aData.songLink+'><i class="fa fa-play-circle fa-lg"></i></button>';
					$('td:eq(1)', nRow).html(sYTLink);
				} else {
					$('td:eq(1)', nRow).html("");
				}

				$(nRow).attr('id', aData.songId);
				return nRow;
			}
		});
		
		
		//for static row selection events - marking selected/deselected rows
		$('#song_table tbody').on('click', 'tr', function(event) {

			var hidden = $("#song_section_div").attr("hidden");
			if (hidden) {
				$("#song_section_div").toggle();
				$("#song_section_div").removeAttr("hidden");
			}
			// ignore responsive expand button trigger
			if (!$(event.target).hasClass("sorting_1")) {
				// this is lyrics link event selection
				if ($(event.target).hasClass("lyrics-link")) {
					var lyricsID = $(event.target).attr("id");
					if (lyricsID != null) {
						if (lyricsID != selectedSongLyricsID) {
							selectedSongLyricsID = lyricsID;
						}
					}
				}
				// this is default row lyrics selection
				else {
					selectedSongLyricsID = $(this).find('.lyrics-link' )[0].id;
				}
				selectedSongID = $(this).attr('id');
				$('#song_table').DataTable().$('tr.selected-row').removeClass('selected-row');
				$(this).addClass('selected-row');
				updateLyrics(selectedSongLyricsID);
				
				//now open youtube link
				if ($(event.target).hasClass("ytlinkbutton")){
					var ytLink = event.target.attributes.id.value;
					var ytLinkId = getId(ytLink);
					var iframeHtml = '<iframe width="320" height="250" frameborder="0" src='+'"'+'//www.youtube.com/embed/'+ytLinkId+'?autoplay=1"'+'></iframe>';
					$('#ytvideoframe').html(iframeHtml);
				}
			}
		});
			
		$('#song_table tbody').on('mouseover', 'tr', function (event) {
		if ($(window).width()>=800){
 			var hidden = $("#song_section_div").attr("hidden");
				if (hidden) {
					$("#song_section_div").toggle();
					$("#song_section_div").removeAttr("hidden");
				}
				// ignore responsive expand button trigger
				if (!$(event.target).hasClass("sorting_1")) {
					// this is lyrics link event selection
					if ($(event.target).hasClass("lyrics-link")) {
						var lyricsID = $(event.target).attr("id");
						if (lyricsID != null) {
							if (lyricsID != selectedSongLyricsID) {
								selectedSongLyricsID = lyricsID;
							}
						}
					}
					// this is default row lyrics selection
					else {
						selectedSongLyricsID = $(this).find('.lyrics-link' )[0].id;
					}
					selectedSongID = $(this).attr('id');
					$('#song_table').DataTable().$('tr.selected-row').removeClass('selected-row');
					$(this).addClass('selected-row');
					updateLyrics(selectedSongLyricsID);
				}
			}
		});

		$('.songbuttons').click(function(event) {
			if ("editsongbutton" == event.target.attributes.id.value) {
				songActions(1, event);
			} else if ("addsongbutton" == event.target.attributes.id.value) {
				songActions(2, event);
			} else if ("deletesongbutton" == event.target.attributes.id.value) {
				songActions(3, event);
			}
		});
		
		function getId(url) {
		    var regExp = /^.*(youtu.be\/|v\/|u\/\w\/|embed\/|watch\?v=|\&v=)([^#\&\?]*).*/;
		    var match = url.match(regExp);
		
		    if (match && match[2].length == 11) {
		        return match[2];
		    } else {
		        return 'error';
		    }
		}

		function songActions(action, event) {
			switch ( action ) {
			// edit song
			case 1 :
				if (selectedSongID != null) {
					openSongEditor(selectedSongID);
				}
				break;

			//add new song
			case 2 :
				openSongEditor(-1);
				break;

			//delete song
			case 3 :
				if( ! confirm("Do you really want to delete song?") ){
		            event.preventDefault(); // ! => don't want to do this
		        } 
		        else {
		            if (selectedSongID != null) {
						deleteSong(selectedSongID);
					}
		        }
				break;
			}
		}

		function updateLyrics(lyricsID) {
			jsRoutes.controllers.Application.getsonglyricsjson(lyricsID).ajax({
				success : function(data) {
					$('.transpose-keys').remove();
					$('#songLyrics').html(data.songLyrics);
					$(function() {
						$("#songLyrics").transpose();
						if ($(window).width() < 1024) {
							$ ( '#songLyrics' )[0].scrollIntoView(true);
						}
					});
				},
				error : function() {
					console.log("Error: ajax failure");
				}
			});
		}

		function openSongEditor(id) {
			var songEditorUrl = jsRoutes.controllers.Application.songeditor(id).url;
			window.location.href = songEditorUrl;
		}

		function deleteSong(id) {
			console.log("deletings song " + id);
			jsRoutes.controllers.Application.deletesong(id).ajax({
				type : "DELETE",
				success : function(data) {
					$('#song_table').DataTable().ajax.reload();
					$('.transpose-keys').remove();
					$('#songLyrics').empty();
				},
				error : function() {
					console.log("Error: ajax failure");
				}
			});
		}

	});

	function showAlert() {
		$(".alert").addClass("in");
		$("#cert-error").show();
	}

	function closeAlert() {
		$("#cert-error").hide();
	}

</script>
<script src="@routes.Assets.at("javascripts/jquery.transposer.js")" type="text/javascript"></script>
}